.about {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    padding-top: 100px;
}

.about-wrapper {
    display: flex;
    width: 1024px;
}

@media (min-width: 1200px) {
    .about-right, .about-left {
        width: 50%;
    }
}

.about-left {
    padding-top: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    line-height: 22px;
}

.about-left p {
    margin: 0;
}

.about img {
    width: 450px;
}

.about button {
    margin-top: 10px;
    background-color: transparent;
    padding: 5px 22px;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    transition: .3s;
}

.about button:hover {
    background-color: var(--primary-color);
    color: black;
    border-color: var(--primary-color);
}

.about-wrapper strong {
    color: var(--primary-color);
}

@media (max-width: 1199px) {
    .about-wrapper {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }

    .about-left p {
        padding: 0 50px;
    }

    .about-right img {
        width: 350px;
    }

    .about {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

.about-wrapper a {
    text-decoration: none;
    color: #FFF;
    transition: .3s;
}

.about-wrapper a:hover {
    color: black;
}