body {
  background-color: #08090a !important;
  color: #FFF !important;
  font-family: 'League Spartan' !important;
}

:root {
  --primary-color: rgb(148, 0, 110)
}

.title {
  color: var(--primary-color)
}